.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;  /*fixed at the bottom*/
  z-index: 1; /*comes in front due to priority*/
  width: 96%;
  align-self: center;
  margin: 20px;
  background-color: lightgray;
}

.app__formControl {
  display: flex !important; /*!important prevents materialUI overriding it*/
  flex-direction: row !important;
}

.app__input {
  flex: 1;  /*stretches it across width*/
}
.app__iconButton {
  flex: 0;  /*keeps icon at default size*/
} 